{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Motion Printers</h1>
</div>
<p class="lead">We are a family business with commitment to provide the best products & servcies to every customer.</p>
<p>Founded by Phillip Seet in 2000, Motion Printers are now located in Ubi Industrial Park. We provide a wide range of products 
  and services, ranging from paper wholesaling, binding, brochure printing to customising cards & paper products.</p>
<br>
<p class="lead">Our Customers</p>
<img src="/static/img/Old_Chang_Kee_logo.jpg" alt="Old Change Kee">
<img src="/static/img/singapore-airlines-vector-logo-small.png" alt="Singapore Airlines">


{% endblock %}